<div id="navbar">
    <%= link_to image_tag("https://marazul.com.pa/wp-content/uploads/marazul-servicios-cost-budget.png",
    :height => 50), "https://751dc8b793054bf4807f6adb88c29c2d.vfs.cloud9.us-east-2.amazonaws.com/" %>
</div>
<div class="sidebar">
        <div id="links">
            <br>
        <%= link_to 'My Budgets', controller: 'finances' %> <br><br>
        <%= link_to 'Create Budget', new_finance_path, :method => "get"%>
        </div>
</div>

<h1 class="headbody">Edit Budget</h1>
<div class="homebody">
<%= form_for :finance, url: finances_path(@finance), :method => :post do |f| %>
<p class="title">
<strong><%= f.label :title %>:</strong>
<%= f.text_field :title %>
    </p>

<p class="cat">
<%= f.label :category %>:
<%= f.text_field :cat1 %>
<%= f.label :amount %>:
<%= f.number_field :amount1, class: :text_field, step: :any %>
    </p>
<p class="cat">
<%= f.label :category %>:
<%= f.text_field :cat2 %>
<%= f.label :amount %>:
<%= f.number_field :amount2, class: :text_field, step: :any %>
    </p>
<p class="cat">
<%= f.label :category %>:
<%= f.text_field :cat3 %>
<%= f.label :amount %>:
<%= f.number_field :amount3, class: :text_field, step: :any %>
    </p>
<p class="cat">
<%= f.label :category %>:
<%= f.text_field :cat4 %>
<%= f.label :amount %>:
<%= f.number_field :amount4, class: :text_field, step: :any %>
    </p>
<p class="cat">
<%= f.label :category %>:
<%= f.text_field :cat5 %>
<%= f.label :amount %>:
<%= f.number_field :amount5, class: :text_field, step: :any %>
    </p>
    <p class="cat">
<%= f.submit %>
<%= link_to 'Back', controller: 'finances' %>


  </p>
    <% end %>
    <p>
</div>