<div id="navbar">
    <%= image_tag("logo.png", size: "125x125", padding: "-50") %>
</div>
<h1>List of Budgets</h1>
<%= link_to 'Create New Budget', new_finance_path %>

<div class="sidebar">
        <div id="links">
            <br>
        <%= link_to 'My Budgets', controller: 'finances' %> <br><br>
        <%= link_to 'Create Budget', new_finance_path, :method => "get"%>
        </div>
</div>

<div>
    <h1 class="headbody">Budgets</h1>
<table>
    
    <% @finances.each do |finance| %>
        <tr>
            <td><%= finance.title %> </td>
            <td><%= link_to finance.title, finance_path(finance) %></td>
            <td><%= link_to 'Edit Budget', edit_finance_path(finance) %></td>
            <td><%= link_to 'Delete Budget', finance_path(finance), method: :delete, data: { confirm: 'This action cannot be undone' } %></td>
        </tr>
    <% end %>
</table>
<%= link_to 'Back', controller: 'welcome' %>
</div>