<div id="navbar">
</div>
<div class="sidebar">
        <div id="links">
            <br>
        <%= link_to 'My Budgets', controller: 'finances' %> <br><br>
        <%= link_to 'Create Budget', new_finance_path, :method => "get"%>
        </div>
</div>

<h1 class="headbody">New Budget</h1>
<div class="homebody">
<%= form_for :finance, url: finances_path do |f| %>
<p class="title">
<%= f.label :title %>:
<%= f.text_field :title %>
    </p>

<p class="cat">
<%= f.label :category %>:
<%= f.text_field :cat1 %>&nbsp
<%= f.label :amount %>:
<%= f.number_field :amount1, class: :text_field, step: :any %>
    </p>
<p class="cat">
<%= f.label :category %>:
<%= f.text_field :cat2 %>&nbsp
<%= f.label :amount %>:
<%= f.number_field :amount2, class: :text_field, step: :any %>
    </p>
<p class="cat">
<%= f.label :category %>:
<%= f.text_field :cat3 %>&nbsp
<%= f.label :amount %>:
<%= f.number_field :amount3, class: :text_field, step: :any %>
    </p>
<p class="cat">
<%= f.label :category %>:
<%= f.text_field :cat4 %>&nbsp
<%= f.label :amount %>:
<%= f.number_field :amount4, class: :text_field, step: :any %>
    </p>
<p>
<%= f.label :category %>:
<%= f.text_field :cat5 %>&nbsp
<%= f.label :amount %>:
<%= f.number_field :amount5, class: :text_field, step: :any %>
    </p>
    <p>
<%= f.submit %>
<%= link_to 'Back', controller: 'welcome' %>
  </p>
    <% end %>
    <p>
</div>