<div id="navbar">
</div>
<div class="sidebar">
        <div id="links">
            <br>
        <%= link_to 'My Budgets', controller: 'finances' %> <br><br>
        <%= link_to 'Create Budget', new_finance_path, :method => "get"%>
        </div>
</div>
    <table>
        <h1 class="headbody"><%= @finance.title %></h1>
        <tr>
            <th>Category</th>
            <th>Amount</th>
        </tr>
            <tr>
                <td class="cell"><%= @finance.cat1 %></td>
                <td><%= @finance.amount1 %></td>
            </tr>
            <tr>
                <td><%= @finance.cat2 %></td>
                <td><%= @finance.amount2 %></td>
            </tr>
            <tr>
                <td><%= @finance.cat3 %></td>
                <td><%= @finance.amount3 %></td>
            </tr>
            <tr>
                <td><%= @finance.cat4 %></td>
                <td><%= @finance.amount4 %></td>
            </tr>
            <tr>
                <td><%= @finance.cat5 %></td>
                <td><%= @finance.amount5 %></td>
            </tr>
        </table>

    
<div class="homebody">
<h2>Spending Notes</h2>
<% @finance.comments.each do |comment| %>
    <p>
        <u><%= comment.date %></u> &nbsp | &nbsp
        <i><%= comment.body %></i>
    </p>
        
<% end %>
<br>
<h3>Add a Note</h3>
<%= form_for([@finance, @finance.comments.build]) do |f| %>
    <p>
        <%= f.label :date %>:
        <%= f.text_field :date %>
        <%= f.label :body %>:
        <%= f.text_field :body %>
    </p>
        
    <p>
        <%= f.submit %>
        <%= link_to 'Back', finances_path %>
    </p>
<% end %>


</div>