<p>
    <strong>Title:</strong>
    <%= @finance.title %>
</p>

<p>
    <strong>Category 1:</strong>
    <%= @finance.cat1 %>
</p>

<p>
    <strong>Amount 1: $</strong>
    <%= @finance.amount1 %>
</p>

<p>
    <strong>Category 2:</strong>
    <%= @finance.cat2 %>
</p>

<p>
    <strong>Amount 2: $</strong>
    <%= @finance.amount2 %>
</p>

<p>
    <strong>Category 3:</strong>
    <%= @finance.cat3 %>
</p>

<p>
    <strong>Amount 3: $</strong>
    <%= @finance.amount3 %>
</p>

<p>
    <strong>Category 4:</strong>
    <%= @finance.cat4 %>
</p>

<p>
    <strong>Amount 4: $</strong>
    <%= @finance.amount4 %>
</p>

<p>
    <strong>Category 5:</strong>
    <%= @finance.cat5 %>
</p>

<p>
    <strong>Amount 5: $</strong>
    <%= @finance.amount5 %>
</p>