<div id="navbar">
    <%= link_to image_tag("https://marazul.com.pa/wp-content/uploads/marazul-servicios-cost-budget.png",
    :height => 50, :width => 50%, :margin => "auto"), "https://751dc8b793054bf4807f6adb88c29c2d.vfs.cloud9.us-east-2.amazonaws.com/" %>
</div>
<div class="sidebar">
        <div id="links">
            <br>
        <%= link_to 'My Budgets', controller: 'finances' %> <br><br>
        <%= link_to 'Create Budget', new_finance_path, :method => "get"%>
        </div>
</div>
    <table>
        <h1 class="headbody"><%= @finance.title %></h1>
        <tr>
            <th>Category</th>
            <th>Amount</th>
            <th>$$ Spent</th>
        </tr>
            <tr>
                <td class="cell"><%= @finance.cat1 %></td>
                <td><strong>$<%= @finance.amount1 %></strong></td>
                <td></td>
            </tr>
            <tr>
                <td><%= @finance.cat2 %></td>
                <td><strong>$<%= @finance.amount2 %></strong></td>
                <td></td>
            </tr>
            <tr>
                <td><%= @finance.cat3 %></td>
                <td><strong>$<%= @finance.amount3 %></strong></td>
                <td></td>
            </tr>
            <tr>
                <td><%= @finance.cat4 %></td>
                <td><strong>$<%= @finance.amount4 %></strong></td>
                <td></td>
            </tr>
            <tr>
                <td><%= @finance.cat5 %></td>
                <td><strong>$<%= @finance.amount5 %></strong></td>
                <td></td>
            </tr>
        </table>

    
<div class="homebody">
<h2>Spending Notes</h2>
<% @finance.comments.each do |comment| %>
    <p>
        <u><%= comment.date %></u> &nbsp | &nbsp
        <i><%= comment.body %></i> &nbsp | &nbsp
        <%= link_to 'Delete', [comment.finance, comment],
                    method: :delete,
                    data: {confirm: 'Are you sure you would like to delete this comment?' } %>
    </p>
        
<% end %>
<br>
<h3>Add a Note</h3>
<%= form_for([@finance, @finance.comments.build]) do |f| %>
    <p>
        <%= f.label :date %>:
        <%= f.text_field :date %>
        <%= f.label :body %>:
        <%= f.text_field :body %>
    </p>
        
    <p>
        <%= f.submit %>
        <%= link_to 'Back', finances_path %>
    </p>
<% end %>


</div>